@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');
body {
	font-family: 'Roboto', sans-serif;
}


.relatorio {
	width: 80%;
	margin: 1em 1em;
	font-size: 1.5em;
}
.relatorio-table {
	margin: 2em 1em;
}
.tr {
	margin: 100em;
}
/*.th {
	padding: 0.5em 0.2em;
	margin: 5em;não está funcionando
}*/

.td {
	padding: 0.5em 1em;
	text-align: left;
}
.link {
	margin: 0.5em;
	text-align: center;
	padding: 0.2em 0.5em;
	/*width: 5em;*/
	/*font-size: 0.5em;*/
	font-weight: bold;
	color: white;
}
a.red {
	background-color: red;
}
a.green {
	background-color: green;
}
.btn-achados {
	text-align: right;
	vertical-align: center;
}
/*

SE EU NÃO PEGAR O NOME TALVEZ NÃO REPLIQUE VÁRIAS VEZES


SELECT  distinct(placa), nome, modelo,cor, data_registro,nome_proprietario,situacao, d.data_perda, d.data_registro, d.nome_documento, d.numero_documento, d.situacao, d.tipo_documento FROM registro_completo as rc INNER JOIN veiculos as v Inner JOin documentos as d ON rc.id_reg = '32' and d.id_reg = "32"*/

/*SELECT distinct(placa), nome, modelo,cor, v.data_registro,nome_proprietario,v.situacao, d.data_perda, d.data_registro, d.nome_documento, d.numero_documento, d.tipo_documento FROM registro_completo as rc INNER JOIN veiculos as v Inner JOin documentos as d ON rc.id_reg = '32' and d.id_reg = "32"

SELECT distinct(placa), nome, modelo,cor, v.data_registro,nome_proprietario,v.situacao, d.data_perda, d.data_registro, d.nome_documento, d.numero_documento, d.tipo_documento, d.situacao as situacao_documento FROM registro_completo as rc INNER JOIN veiculos as v Inner JOin documentos as d ON rc.id_reg = '32' and d.id_reg = "32"*/
